*{
    color:rgb(110, 228, 228);
}

#custom-card{
    background: rgb(68, 67, 67);
    color:lightcyan;
}

input{
    color: black;
}

#custom-header{
    background-image:url(/assets/img/maxresdefault.jpg);
    
}

h1{
    color: lightcyan;
    
}


#five-days{
    height: 25vh;
    margin: 1rem ;
    align-items: flex-start;    
}

.custom-col{
    border: 2px solid black;
    height: 19vh;
    text-align: center;
    margin: auto .75rem;
}

body{
    background: linear-gradient(0.25turn, rgba(7, 20, 51, 0.8), rgba(0, 0, 0, 0.9));
    background-repeat: no-repeat;
    height: 100vh;
}

.hidden{
    display:none;
}

ul{
    list-style-type: none;
}

.custom-low-uvIndex{
    background: greenyellow !important;
}

.custom-moderate-uvIndex{
    background-color: yellow !important;
}

.custom-high-uvIndex{
    background-color: orange !important;
}

.custom-vhigh-uvIndex{
    background: orangered !important;
    
}

.custom-extreme-uvIndex{
    background-color: purple !important;
}

.icon{
    font-size: 3rem;
}

.search-Btn:hover{
    color:honeydew;
    background-color: lightcoral;
}

[id|=uv]{
    color: black;
}

